* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 500px;
  min-height: 800px;
  box-shadow: 0 0 12px #333;
  margin: 50px auto;
  padding: 40px;
}

.wrapper h2 {
  text-align: center;
  font-family: "Raleway" sans-serif;
  font-weight: 500;
  color: cadetblue;
}
.line {
  border-bottom: 1px dashed purple;
  margin: 30px auto;
}

label {
  width: 100%;
  min-height: 50px;
  display: block;
}
label p {
  margin: 8px 0;
}
input {
  width: 100%;
  height: 45px;
  padding-left: 10px;
}
input[type="radio"] {
  width: 16px;
  display: inline;
  border: 1px dashed purple;
}

input[type="file"] {
  display: block;
  width: 100%;
  height: 45px;
  margin: 12;
}

.gender {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px dashed purple;
  margin: 12px 0;
}

button {
  width: 100%;
  height: 45px;
  margin-top: 12;
}
